version: '3.8'
services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: chatbot
      POSTGRES_HOST_AUTH_METHOD: scram-sha-256
    ports:
      - '5432:5432'
    volumes:
      - ./db:/docker-entrypoint-initdb.d
    networks:
      - app-net      

  # pgadmin:
  #   image: dpage/pgadmin4
  #   container_name: pgadmin4
  #   environment:
  #     PGADMIN_DEFAULT_EMAIL: admin@test.com
  #     PGADMIN_DEFAULT_PASSWORD: admin
  #   ports:
  #     - "5050:80"
  #   depends_on:
  #     - db
  #   networks:
  #     - app-net
    

networks:
  app-net:
    driver: bridge